* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  height: 90vh;
}

.principal-container {
  width: 60%;
  height: 100%;
  margin-top: 2.5vh;
}
.secondary-container {
  width: 40%;
  height: 100%;
  margin-top: 2.5vh;
}

.color-principal {
  background-color: #802433;
  color: white;
}

@media only screen and (max-width: 768px) {
  .main {
    flex-direction: row-reverse;
  }

  .principal-container {
    width: 100%;
    margin-top: 0;
  }
  .secondary-container {
    width: 100%;
    margin-top: 0;
  }
}
