.form{
    width: 90% !important;    
    padding: 15px;
    margin-top: 20px;
}
.box-login{
    height: 100%;
}

@media (max-width: 768px) {
    .form{
        width: 80%;
        height: 50vh;
    }
 }