* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.principal {
  height: 91vh;
}

.main {
  height: 91vh;
  margin-top: 10px;  
}

.principal-register{
    background-color: rgba(110, 13, 37, 0.5);
  color: white;
  width: 100%;
  height: auto;
  margin: auto;
}

.box-register{
    width: 100vw;
}

@media only screen and (max-width: 768px) {
  .principal-register{
    height: auto;
  }
}