@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");


body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-image: url("./assets/img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.principal-home {
  height: 93vh;
  margin-top: 65px;
}

.main-home {
  height: auto;
  margin-top: 5px;
  background-color: white;
}

.main-normal-students {
  min-height: 92vh;
  height: auto;
  margin-top: 5px;
  background-color: white;
}

.main-normal-subjects {
  min-height: 90vh;
  height: auto;
  margin-top: 5px;
  background-color: transparent;
}

.principal-login {
  height: 90vh;
}


