.table_userIsAcepted {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  transition: all 400ms ease;
}
.table_userIsAcepted thead > tr > th {
  color: white;
} 

.table_userIsAcepted > thead, tbody > tr > th, td {
 color: white !important; 
} 